@import 'tailwindcss/preflight';
@tailwind utilities;
@import 'tailwindcss';

html,
body,
:root {
  height: 100%;
  color: white;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --background: #171717;
  --foreground: #fff;

  --card: #252525;
  --card-foreground: #fff;

  --popover: #202020;
  --popover-foreground: #fff;

  --primary: #e50914;
  --primary-foreground: #fff;

  --secondary: #404040;
  --secondary-foreground: #fff;

  --muted: #303030;
  --muted-foreground: #a0a0a0;

  --accent: #e50914;
  --accent-foreground: #fff;

  --destructive: #ff0000;
  --destructive-foreground: #fff;

  --border: #3a3a3a;
  --input: #303030;
  --ring: #e50914;

  --radius: 0.5rem;
  --radius-sm: 0.3rem;
  --radius-md: 0.5rem;
  --radius-lg: 0.75rem;
  --radius-xl: 1rem;
}

@layer base {
  * {
    border-color: #3a3a3a;
  }
  body {
    background-color: #171717;
    color: white;
  }
}

@layer utilities {
  .rounded-custom {
    border-radius: 0.5rem;
  }

  /* Ocultar la barra de desplazamiento para todos los navegadores */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
