.slick-list {
  overflow: visible !important;
  padding: 60px 0 !important; /* Aumentar el padding vertical */
  margin: -60px 0 !important; /* Compensar el padding para mantener el layout */
}

/* Ajustar el contenedor de las tarjetas */
.slick-slide {
  position: relative;
}

/* Contenedor de la imagen principal */
.card-content {
  aspect-ratio: 16/9;
  position: relative;
  cursor: pointer;
}

/* Centrar las flechas verticalmente con respecto a la imagen sin hover */
.slick-prev,
.slick-next {
  height: 30px !important;
  width: 30px !important;
  top: 50% !important;
  transform: translateY(-50%) !important; /* Centrar verticalmente */
  z-index: 50;
  border-radius: 50% !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

.slick-prev:before,
.slick-next:before {
  font-size: 20px !important;
  opacity: 1 !important;
  position: static !important;
  display: block !important;
}

.slick-prev {
  left: -15px !important;
}

.slick-next {
  right: -15px !important;
}

/* Contenido en hover */
.hover-content {
  position: absolute;
  top: -20px;
  left: -10%;
  width: 120%;
  z-index: 40;
  visibility: hidden;
  opacity: 0;
  transform: scale(0.95);
  transition: all 0.3s ease;
  pointer-events: none;
}

/* Contenedor del contenido en hover */
.hover-content > div {
  position: relative;
  padding-bottom: 10px; /* Asegurar espacio para el contenido inferior */
}

.slick-slide:hover .hover-content {
  visibility: visible;
  opacity: 1;
  transform: scale(1);
  pointer-events: auto;
}

/* Asegurarse que el hover aparezca por encima */
.slick-slide {
  z-index: 1;
}

.slick-slide:hover {
  z-index: 999;
}

/* Ajustar el contenedor del carousel */
.carousel-container {
  margin-bottom: 140px; /* Añadir espacio entre carouseles */
  padding: 0 25px; /* Aumentar el padding para las flechas */
}

/* Contenedor wrapper para el carrusel */
.carousel-wrapper {
  position: relative;
  width: 100%;
  overflow: visible !important; /* Permitir que las flechas sean visibles */
  padding: 0 10px; /* Añadir padding al wrapper */
}

/* Ajustes para dispositivos móviles */
@media (max-width: 768px) {
  .slick-prev,
  .slick-next {
    height: 25px !important;
    width: 25px !important;
    top: 50% !important;
  }

  .slick-prev:before,
  .slick-next:before {
    font-size: 30px !important;
  }

  .slick-prev {
    left: -5px !important;
  }

  .slick-next {
    right: -5px !important;
  }

  .carousel-container {
    padding: 0 15px; /* Reducir el padding en móviles */
  }

  .hover-content {
    width: 110%; /* Reducir el ancho en móviles */
    left: -5%;
  }
}
